.logo{
    display: flex;
    text-align: left;
    position: absolute;
}
.form-body{
    padding-left: 200px;
}
footer{
    padding-left: 200px;
}
li{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
introduction{
    display: inline-block;
    margin-right: 500px;
}