body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 160px;
}
main{
    display: flex;
    flex-direction: row;
}
.welcome{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    font-size: 50px;
    line-height: 20%;
}
.introduction{
    font-size: 18px;
    padding-right: 80px;
}
.logo{ 
   position: relative;
}
.form-body{
    margin-right: 30%;
}
.data{
    width: 100%;
    height: 30px;
    opacity: 0.6;
}
.data-name{
    font-weight: bold;
}
.checkbox{
    width: 20px;
    height: 20px;
}
.checking{
    display:inline-block;
    width: 300px;
    position: fixed;
    font-size: 15px;
    font-stretch: expanded;
}
footer{
    padding-left: 222px;
}
ul{
  columns: 2;
}
ul li::marker{
 color: rgb(93, 93, 235);
}
.signup1{
    opacity: 0.6;
    padding: 16px 25px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}