body{
    font-family: Arial, Helvetica, sans-serif;
    border: 50px;
    margin: 0;
}
header{
    justify-content: space-between;
    border-bottom: 2px solid rgb(150, 150, 155);
    min-height: 50px;
}
main{
    padding-left: 200px;
    padding-top: 50px;
}

.issuu-logo{
    width: 150px;
    position: fixed;
}
fieldset{
    border: hidden;
}
.login1{
    display: flex;
    justify-content: right;
    align-items: flex-end; 
    padding-top: 10px;  
}
.login1 span{
    display: block;
}
.login1 span a{
    text-decoration: none;
}
.google-background{
    background-color: rgb(31, 161, 226);
    border: solid;
    border-radius: 3px;
    border-color: rgb(31, 161, 226);
    padding-top:3px;
}
.fb-background{
    background-color: rgb(70, 79, 158);
    border: solid;
    border-radius: 3px;
    border-color: rgb(70, 79, 158);
    padding-top:3px;
}
.link-font{
    color:antiquewhite;
    text-decoration: none;
    font-weight: bold;
}
.signup1{
    border: rgb(93, 93, 93);
    background-color: white;
    border: dashed;
    border-radius: 30px;
    padding: 20px 16px;
    font-weight: 700;
    width: 250px;
    opacity: 0.4;
}
button span.button-text{
    font-weight: bold;
    margin: 2px 5px;
}
.input-name{
    font-weight: bold;
    display:block;
    margin-bottom: 0px;
}
.input-input{
    margin-top: 0px;
    width: 400px;
}
.checkbox1{
    font-size: 12px;
}
footer{
    display: flex;
    border-top: 2px solid rgb(150, 150, 155);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 12px;
}
footer a{
    text-decoration: none;
    color:black;
    opacity: 0.7;
}
footer + a{
    display: flex;
    justify-content: flex-start;
    align-self: center;
    
}
footer ul{
    display:flex;
    justify-content: center;
    margin:0 150px;
}
footer ul li{
    margin: 0 5px;
    list-style: none;
}
